*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    font-family: cursive;
}
.wrapper{
    margin-top: 10%;
}
.wrapper h1{
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team_member{
    background-color: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;

}
.team .team_member h3{
    color: aqua;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member p.role{
    color: rgba(1, 2, 12, 0.911);
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;


}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    position: absolute;
    top: -50px;
    left: 100px;
    background-color:white;
}
img{
    width: 100%;
    /* border: 2px solid red ; */
    background-position: ;
    /* border-radius: 40%; */
    padding: 20px;

    
}
.role p{
    background-color:;
}
