*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(y.jpg);
    background-size: cover;
  
}
.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;

}
.contact_form{
    max-width: 550px;
    margin: 0 auto ;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  


}
.input_fields{
    display:flex;
    flex-direction: column;
    margin-right: 4%;
}
.input_fields,
.msg{
    width: 40%;
}
.input_fields .input,
.msg textarea{
    margin:10px 0 ;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}
.msg textarea{
    height: 212px;
}
::-webkit-input-placeholder{
    color: #c5ecfd;

}
::-moz-input-placeholder{
    color: #c5ecfd;

}
::-ms-input-placeholder{
    color: #c5ecfd;

}

.btn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
/* @media screen and(max-width: 600px){
    .contact_form{
        flex-direction: column;
    }
} */
@media screen and(max-width: 600px){
    .contact_form{
        flex-direction: column;
    }
}