*{
    padding: 0;
    margin: 0;
}
.wrapper{
    /* border: 2px solid red; */
    height: 800px;
    background-image: url(x.jpg);
    background-image: url(z.jpg);
    background-size: cover;
}
.header h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: steelblue;
}

  .boxcontainer{
     width: 100%;
     height: 700px;
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
.box{
    width: 25%;
    height: 212px;
    margin: 5px;
    padding: 10px;

    background-color: darkturquoise;
    
}
img{
    width: 100%;
}
img:hover{
    opacity: .5;
    transition: 0.1s;
    transform: scale(2.1);
}