*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(k.jpg);
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

    
.header{
    width: 100%;
    height: px;
 
}
 .logo{
     width: 300px;
     height: 50px;
     color:rgba(135, 21, 139, 0.411);
     background-color: rgba(255, 0, 179, 0.349);
     
     padding-left: 100px;
     box-sizing: border-box;
     float: left;
     
 }
 .logo h1{
     line-height: 2;
     text-transform: uppercase;
     font-size: 1.6rem;
     animation: yetauta 2s linear infinite;
     animation-direction: alternate;
     
 }
 @keyframes yetauta{
     from { padding-left: 40px ;}
         to { padding-right: 40px;}
 }

 @keyframes abc{ 
     form{padding-left:40px;}
     to {padding-right: 40px; }

 }
 .social{
     width:313px ;
     height: 50px;
     float: right;
     padding: 0.=;
    }
     
 .social ul{
     list-style: none;
     display: flex;
     padding-left: 30px;
     background-color: rgba(255, 0, 179, 0.349);
     margin-bottom: ;
     
    
     

 }
 .social ul li{
     padding-left: 20px;
     line-height: 3rem;
     font-size: 2rem;
     
     
  

 }
 .social ul li a{
     color: rgba(56, 25, 233, 0.753);
     margin-left: 7px;
 }
 .social ul li:hover a{
    padding-right: 10px;}

.content{
    width: 100%;
    height: 100%;
}
.nav{
   
clear: both;
width: 150px ;
height: 500px;
background-color: rgba(255, 0, 179, 0.349);




}

.nav ul{
    margin-top: 5px;
    text-align: center;
   display: block;
   
  
   
}
.nav ul li {
    padding-top: 50px;
    
  
  
    
}
.nav ul li a{
  
    
    color:white;
    font-weight:;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 
    border-top: ;
    border-bottom: ;
    flo
}
.nav ul li:hover a{
    padding: 20px;}

.hdiv{
   
   
text-align: center;
position: absolute;
top: 30%;
left: 50%;
transform: translateX(50%);
 
}
    .hdiv h2{
        text-transform: uppercase;
        color: white;
        font-size: 1.8em;
    }
    .hdiv h3{
     font-size: 1.5em;
     margin-top: 10px;
     color: whitesmoke;
    }
    .hdiv h1{
        text-transform: uppercase;
        margin-top: 3px;
        color: white;
    }